<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Incidentes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >
    <link href="static/css/main.min.css" rel="stylesheet">
  </head>
  <body>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

    <h1 class="text-center mt-2">Incidentes abiertos</h1>
    <div class="container {{container-class}}">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="text-center mt-5"></div>
          <table id="table" class="table table-striped border table-light" style="width:100%">
            <thead>
              <tr>
                <th>Entidad</th>
                <th>Establecimiento</th>
                <th>Servicio</th>
                <th>Ubicacion</th>
              </tr>
            </thead>
            <tbody>
              {% for incidente in incidentes %}
                <tr>
                  <td>{{ incidente.entidad }}</td>
                  <td>{{ incidente.establecimiento }}</td>
                  <td>{{ incidente.servicio }}</td>
                  <td></td>
                </tr>
              {% endfor %}
              <tr>
                <td>Entidad1</td>
                <td>Establecimiento1</td>
                <td>Servicio1</td>
                <td>Ubicacion1</td>
              </tr>
              <tr>
                <td>Entidad2</td>
                <td>Establecimiento2</td>
                <td>Servicio2</td>
                <td>Ubicacion2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <style>
      label {
        font-family: Arial, sans-serif;
        color: #c7c9d1;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

    <script>
      $(document).ready(function () {
        var table = $('#table').DataTable({
          pagingType: 'full_numbers',
          language: {
            lengthMenu: 'Mostrar _MENU_ comunidades por página',
            zeroRecords: 'No se encontraron comunidades',
            info: 'Mostrando página _PAGE_ de _PAGES_',
            infoEmpty: 'No existen comunidades con ese nombre',
            infoFiltered: '(filtrado de un total de _MAX_ comunidades)',
            search: 'Buscar:',
            paginate: {
              first: 'Primero',
              last: 'Último',
              next: 'Siguiente',
              previous: 'Anterior',
            },
          },
          columnDefs: [
            {
              targets: -1, // Última columna (botón de unirse)
              orderable: false, // No se puede ordenar
              searchable: false, // No se puede buscar
            },
          ],
        });

        // Agregar el evento de búsqueda por comunidad
        $('#comunidad-filter').on('keyup', function () {
          table.column(0).search(this.value).draw();
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
